.photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -140px;
  margin-left: -100px;
}

body {
  background-color: rgb(170, 214, 238);
}
